
	box-sizing: border-box;
}

.box{
	padding: 40px;
	width: 950px;
	font-family: 'open sans';
}

body{
	width: 960px;
	background-color: gray;
}

.container-relaxr{
	height: 350px;
	width: 965px;
	
}

.container-relaxr img{
	width: 950px;
}

.container-relaxr h1{
	color: white;
	font-size: 40px;
	font-style: 'open sans';
	font-weight: semibold; 
	padding-left: 5%;

}

.container-relaxr h2{
	color: white;
	font-size: 30px;
	font-style: 'open sans';
	font-weight: lighter;
	padding-left: 5%;
}

.get-now-btn{
	width: 130px;
	color: black;
	height: 30px;
	padding: 5px 10px;
	border-radius: 4px;
	background-color: yellow;
	font-family: 'open sans' semibold;
	display: block;
	font-weight: bolder;
	position: relative; 
	top: 19px;
    left: 420px;
    right: -420px;
    bottom: -11px;
}

.container-benefits{
	background: white;
}

.benefits-h2{
	font-family:'open sans';
	color: rgb(46, 64, 83);
	font-size: 30px;
	font-weight: light;
	margin-left: 15px;
}

.benefits-p{
	color: rgb(27, 38, 49);
	font-size: 20px;
	margin-left: 15px;
}

li{
	color: rgb(27, 38, 49);
	font-size: 18px;
}

.container-quote{
	padding-left: 35%;
	padding-right: 35%;
	background-color: gray;
	text-align: center;
	color: white;
	font-weight: lighter;
	font-size: 20px;
	background-image: url(https://i.imgur.com/hDD6MMx.jpg);
}

.container-quote img{
	width: 960px;

}


.client-quote-p{
	font-style: italic;
	color: white;
	font-size: 18px;
}

.quote-bold{
	font-style: bold;
	color: white;
}

.container-button{
	background-color: #ffff7f;
	height: 20px;
	width: 960px;
}

.sign-up-btn{
	width: 150px;
	height: 30px;
	padding: 5px;
	border-radius: 4px ;
	background-color: rgb(39, 55, 70);
	color: white;
	font-family: 'open sans' bold;
	display: block;
	position: relative; 
	top: 1px;
    left: 420px;
    right: -420px;
    bottom: -11px;

.h1-footer {
	padding-left: 50%;
}
	
}

.footer{
		background-color: #282828 ;
		padding-left: 45%;
}

.h1-footer{
	color: yellow;
}


.twitter{
	margin-right: 5%;	
}

.facebook{
	
}

h6{
	color: white;
	font-weight: light;
}

